/* Ted Strömne jobbar återigen med CSS, surprise! 😲 */

.contactTitle {
    color: white;
    font-weight: bold;
}

.contactSection {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20210813/pngtree-blue-pattern-background-image_761983.jpg");
    border-radius: 15px;
    border-style: solid;
    border-color: #fff;
    width: 60%;
    height: 600px;
    min-width: 510px;
}

.contactSection h2 {
    margin: 20px;
}