/* Ted Strömne jobbar fortfarande med CSS:n, även för index page 🤯 */

.gameTitle {
    color: white;
    font-weight: bold;
}

.backArrowButton {
    position: absolute;
    margin-top: 170px;
    margin-right: 53%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    border: 0px;
    border-radius: 50%;
    z-index: 3;
}

.backArrowButton:hover {
    cursor: pointer;
}

#backArrow {
    margin-top: 30px;
    position: absolute;
    height: 30px;
    width: 30px;
}

.menuSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border-style: solid;
    border-color: #fff;
    width: 60%;
    height: 600px;
    min-width: 510px;
    position: relative;
    background-image: url("../Images/Blue_background.png");
    background-size: cover;
}

.menuBtnsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
}

.menuPlayBtn {
    height: 100px;
    width: 400px;
    background-image: url("../Images/Play_Final.png");
    background-size: cover;
    border-radius: 22px;
}

.menuPlayBtn:hover {
    cursor: pointer;
}

.menuOptBtn {
    height: 100px;
    width: 400px;
    background-image: url("../Images/Options_Final.png");
    background-size: cover;
    border-radius: 22px;
}

.menuOptBtn:hover {
    cursor: pointer;
}

.menuLdrBrdBtn {
    height: 100px;
    width: 400px;
    background-image: url("../Images/Leaderboard_Final.png");
    background-size: cover;
    border-radius: 22px;
}

.menuLdrBrdBtn:hover {
    cursor: pointer;
}

.gameSection {
    display: none;
    flex-direction: column;
    align-items: end;
    border-radius: 15px;
    border-style: solid;
    border-color: #fff;
    width: 60%;
    height: 600px;
    min-width: 510px;
    position: relative;
    background-image: url("../Images/Bord2.png");
    background-size: cover;
}

.gameSection .handsDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    height: 75%;
}

/* The player's hand is on the left */
.gameSection .ownHandDiv {
    z-index: 2;
    margin-left: 16%;
    width: 115px;
}

.gameSection .ownHand {
    height: 170px;
    width: 115px;
}

/* Dealer's hand is on the right */
.gameSection .dealerHandDiv { 
    z-index: 2;
    margin-right: 15%;
    width: 115px;
}

.gameSection .dealerHand {
    height: 170px;
    width: 115px;
}

.btnsDiv {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hitBtn {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 20.5%;
    background-image: url("../Images/Hit_Button_2.png");
    background-position: center;
    background-size: cover;
}

.hitBtn:hover {
    height: 51px;
    width: 51px;
    margin-left: 20.4%;
}

.standBtn {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 19%;
    background-image: url("../Images/Stand_Button_2.png");
    background-position: center;
    background-size: cover;
}

.standBtn:hover {
    height: 51px;
    width: 51px;
    margin-right: 18.9%;
}

.optSection {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    border-style: solid;
    border-color: #fff;
    width: 60%;
    height: 600px;
    min-width: 510px;
    background-image: url("../Images/Blue_background.png");
    background-size: cover;
}

.optSectionButtons {
    display: flex;
    flex-direction: row;
}

.optSectionSlider {
    display: flex;
    flex-direction: row;
}

.optSection button {
    height: 100px;
    width: 200px;
    border-radius: 22px;
}

.leaderboardTitle {
    color: white;
    font-weight: bold;
}

.leaderboard {
    display: none;
    color: #fff;
    background-image: url("../Images/Blue_background.png");
    background-size: cover;
    border-radius: 15px;
    border-style: solid;
    border-color: #fff;
    width: 60%;
    min-width: 510px;
}

.Header {
    margin-top: 70px;
}

.leaderboard h2 {
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 20px;
}

.leaderboard ol {
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 20px;
}

.rulesTitle {
    display: none;
    color: white;
    font-weight: bold;
}

.rulesSection {
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image: url("../Images/Blue_background.png");
    background-size: cover;
    border-radius: 15px;
    border-style: solid;
    border-color: #fff;
    width: 60%;
    height: 100%;
    min-width: 510px;
}

.rulesSection h3 {
    margin: 20px;
}

.contactTitle {
    display: none;
    color: white;
    font-weight: bold;
}

.contactSection {
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image: url("../Images/Blue_background.png");
    background-size: cover;
    border-radius: 15px;
    border-style: solid;
    border-color: #fff;
    width: 60%;
    height: 600px;
    min-width: 510px;
}

.contactSection h2 {
    margin: 20px;
}