/* Här jobbar Ted Strömne med CSS för hemsidans layout */

.header {
    display: flex;
    justify-content: space-between;
    /* this is the old background, it is ripped from Google and it has watermarks on it */
    /* https://png.pngtree.com/thumb_back/fw800/background/20210813/pngtree-blue-pattern-background-image_761983.jpg */
    background-image: url("../Images/Blue_background.png");
    background-size: cover;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: #fff;
}

.header a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-weight: bolder;
    margin-left: 20px;
    height: 60px;
}

.header a:hover {
    cursor: pointer;
}

.logo-img {
    height: 60px;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
}
  
.nav-items a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    padding: 0px 20px;
    height: 60px;
}

body {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
    font-family: "Rokkitt", "Times New Roman", Times, serif;
    font-weight: bold;
    background-image: url("../Images/Background_.png");
    background-size: cover;
}

.footer {
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
    flex-direction: column;
    background-image: url("../Images/Blue_background.png");
    background-size: contain;
    padding: 0px;
    margin-top: 0px;
    border: 0px;
    border-radius: 0px;
    width: 100%;
    border-top: 2px;
    border-style: solid;
    border-color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.footer .copyright {
    color: #ffffff;
    order: 1; 
    align-self: center;
    padding-top: 20px;
    font-weight: bold;
}

.bottom-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0; 
    flex-wrap: wrap; 
    order: 2; 
}

.bottom-links .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-links .links a {
    text-decoration: none;
    color: white;
    line-height: 1.5;
}

.links a:hover {
    cursor: pointer;
}