body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px;
    font-family: "Rokkitt", "Times New Roman", Times, serif;
    font-weight: bold;
    background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSrtNNt0b_o_CLb5DzjrO53EgjyJ6U5pd-DUI6k_Mr4CiQMD2sV");
}

.header {
    display: flex;
    justify-content: start;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-image: url("https://maps.w3reforged.com/maps/categories/other/1x1-308356/mini-map-1x1-308356.jpg");
    width: 100%;
}

.header a {
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-weight: bolder;
}

.gameTitle {
    color: white;
    font-weight: bold;
}

.gameSection {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 20px;
    background-image: url("https://maps.w3reforged.com/maps/categories/other/1x1-308356/mini-map-1x1-308356.jpg");
    border-radius: 15px;
    border-style: solid;
    border-color: #fff;
    width: 60%;
    height: 600px;
    min-width: 510px;
}

.leaderboardTitle {
    color: white;
    font-weight: bold;
}

.leaderboard {
    color: #fff;
    padding: 20px;
    background-image: url("https://maps.w3reforged.com/maps/categories/other/1x1-308356/mini-map-1x1-308356.jpg");
    border-radius: 15px;
    border-style: solid;
    border-color: #fff;
    width: 60%;
    min-width: 510px;
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("https://maps.w3reforged.com/maps/categories/other/1x1-308356/mini-map-1x1-308356.jpg");
    padding: 0px;
    margin-top: 20px;
    border: 0px;
    border-radius: 0px;
    width: 100%;
}

.footer .copy {
    color: #ffffff;
    order: 1; 
    align-self: center;
    padding-top: 20px;
    font-weight: bold;
}

.bottom-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0; 
    flex-wrap: wrap; 
    order: 2; 
}

.bottom-links .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-links .links a {
    text-decoration: none;
    color: white;
    line-height: 1.5 !important;
}