/* Här jobbar Ted Strömne med CSS för rules sidan */

.rulesTitle {
    color: white;
    font-weight: bold;
}

.ruleSection {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20210813/pngtree-blue-pattern-background-image_761983.jpg");
    border-radius: 15px;
    border-style: solid;
    border-color: #fff;
    width: 60%;
    height: 100%;
    min-width: 510px;
}

.ruleSection h3 {
    margin: 20px;
}